.star {
    position: absolute;
    border-radius: 50%; 
    background-color: var(--star-color);
    z-index: 10;
}

.star-l { width: 4px; height: 4px; }
.star-m { width: 2px; height: 2px; }
.star-s { width: 1px; height: 1px; }
.star-xs { width: .5px; height: .5px; }
