.main_title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 30vh 0 10vh 0;

    .logo {
        display: inline-flex;
        justify-content: center;
        padding-bottom: 16px;

        img {
            border-radius: 50%;
        }
    }

    .top_title {
        display: inline-flex;
        justify-content: center;

        span {
            font-weight: 600;
            letter-spacing: 2px;
        }
    }

    .title {
        display: inline-flex;
        justify-content: center;

        span {
            font-weight: 600;
            letter-spacing: 4px;
        }
    }
}

@media screen and (max-width: 430px) {

    .main_title .logo img {
        width: 150px;
        height: 150px;
    }

    .top_title span {
        font-size: 1.5rem;
    }
    
    .title span {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 430px) and (max-width: 600px) {

    .main_title .logo img {
        width: 200px;
        height: 200px;
    }

    .top_title span {
        font-size: 2rem;
    }
    
    .title span {
        font-size: 5rem;
    }
}

@media screen and (min-width: 600px) {

    .main_title .logo img {
        width: 200px;
        height: 200px;
    }

    .top_title span {
        font-size: 2.5rem;
    }
    
    .title span {
        font-size: 7rem;
    }
}